  * { margin:0; padding:0; box-sizing:border-box; }

img{
  	width: auto;
  	height: 300px;
  }

 nav{
 	font-size: 1.8em;
 	float: right;
 }

 nav a{
 	text-decoration: none;
 	color: white;
 	margin: 1.8em;
 	display: inline-block;
 }

 nav a:hover{
 	background-color: orange;
 }

body{
	background-color: yellow;
}

h1, h2, h3{
	font-family: 'Staatliches' , sans-serif;
}

header{
	border: 10px green solid;
	height: 150px;
}

.hero{
	border: 10px black solid;
	height: 600px;
	width: auto;
}

.steps{
	border: 10px pink solid;
	padding: 20px;
	height: 300px;
}


.why{
	border: 10px red solid;
	height: 300px;
}

.options{
	border: 10px blue solid;
	height:200px;
}


#two_column{
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#kit{
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float:left;
    width: 46%;
}

#oven{
	background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float:right;
    width: 46%;
}


.lifestyle{
	border: 10px orange solid;
	height: 200px;
}

.fact{
	border: 10px purple solid;
}

.quote{
	border: 10px yellow solid;
}

.featured{
	border: 10px green solid;
}


