  * { margin:0; padding:0; box-sizing:border-box; }

img{
  	width: auto;
  	height: 300px;
  }

body{
	background-color: yellow;
}

header{
	border: 10px green solid;
	height: 150px;
}

.hero{
	border: 10px black solid;
	height: 600px;
	width: auto;
}

.steps{
	border: 10px pink solid;
	padding: 20px;
	height: 300px;
}


.why{
	border: 10px red solid;
	height: 300px;
}

.options{
	border: 10px blue solid;
	height:700px;
}

.lifestyle{
	border: 10px orange solid;
	height: 200px;
}

.fact{
	border: 10px purple solid;
}

.quote{
	border: 10px yellow solid;
}

.featured{
	border: 10px green solid;
}

